<!-- templates/accueil.html -->
{% extends "base.html" %}

{% block title %}Gabo{% endblock %}

{% block content %}
<header>
    <h1>Gabo</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.ajouter_partie') }}">Add game</a></li>
            <li><a href="{{ url_for('main.scoreboard') }}">Scoreboard</a></li>
            <li><a href="{{ url_for('main.ajouter_joueur') }}">Add player</a></li>
            <li><a href="{{ url_for('main.rules') }}">Rules</a></li>

        </ul>
    </nav>
</header>

<main>
</main>

<footer>
    <p>Version test, veuillez remonter toute erreur</p>
</footer>

<link rel="stylesheet" href="{{ url_for('static', filename='css/acceuil.css') }}">
<script src="{{ url_for('static', filename='js/display/accueil-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/accueil-api.js') }}"></script>
{% endblock %}
