{% extends "base.html" %}

{% block title %}Gabo{% endblock %}

{% block content %}

<div id="new_game">
    <button type="button" onclick="openNewGameForm()">New Game</button>
</div>

<div id="newGameForm" class="hidden">
    <button type="button" onclick="resetGameForm()">Reset table</button>
    <input type="text" id="playerId" name="playerId" required>
    <button type="button" onclick="fetchPlayerInfo()">Add a player</button>
        <button type="button" onclick="removeLastPlayerFromTable()">Remove last player</button>
</div>

<div id="table" class="hidden">
    <form id="playerForm">
        <table border="1" id="savedTable">
            <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <!-- Les joueurs ajoutés apparaîtront ici -->
            </tbody>
        </table>
        <button id="sendTableButton" type="button">Send</button>
    </form>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/ajouter_partie.css') }}">
<script src="{{ url_for('static', filename='js/display/ajouter_partie-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/ajouter_partie-api.js') }}"></script>
{% endblock %}
