<!-- templates/accueil.html -->
{% extends "base.html" %}

{% block title %}Mon Application Multi-pages - Accueil{% endblock %}

{% block content %}
<h1>Classement</h1>

<div id="display_stat">
    <form id="playerForm">
        <label for="playerId">Choissisez votre id (identifiant à se souvenir pour rentrer dans une partie) :</label>
        <input type="text" id="playerId" name="playerId" required>
        <label for="playerId">Choissisez votre nom :</label>
        <input type="text" id="playernom" name="nom" required>
        <button type="button" onclick="newPlayer()">Nouveau Joueur</button>
    </form>
</div>


{% endblock %}
