<!-- templates/accueil.html -->
{% extends "base.html" %}

{% block title %}Gabo{% endblock %}

{% block content %}
<h1>Ajouter joueur</h1>

<div id="display_stat">
    <form id="playerForm">
        <label for="playerId">Chosis un nom :</label>
        <input type="text" id="playernom" name="nom" required>
        <button type="button" onclick="newPlayer()">Ajouter</button>
    </form>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/ajouter_partie.css') }}">
<script src="{{ url_for('static', filename='js/display/ajouter_joueur-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/ajouter_joueur-api.js') }}"></script>
{% endblock %}
