{% extends "base.html" %}

{% block title %}Gabo{% endblock %}

{% block content %}

<div>
    <label class="section-title">Rules</label>
    <div class="container">
        <button class="ask_rules" type="button" id="ask_rules_button">Show rules</button>
        <button class="ask_rules" type="button" id="ask_rules_button_es">Mostrar reglas</button>
        <button class="ask_rules" type="button" id="ask_rules_button_fr">Montrer règles</button>
        <button class="ask_rules" type="button" id="ask_rules_button_bzh">Diskouez reolennoù</button>
        <button class="ask_rules" type="button" id="ask_rules_button_eus">Erakutsi arauak</button>
        <div id="rules">
            <!-- Rules will be dynamically inserted here -->
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
<script src="{{ url_for('static', filename='js/display/rules-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/rules-api.js') }}"></script>

{% endblock %}