{% extends "base.html" %}

{% block title %}Gabo{% endblock %}

{% block content %}

<div id="scoreboard">
    <label class="section-title" for="scrollable">Scoreboard</label>
    <div class="container">
        <div class="content" id="scrollable">
            <!-- Player cards will be dynamically inserted here -->
        </div>
    </div>
</div>

<div id="display_stat">
    <div class="container" id="search_player">
        <form class="playerForm" id="playerForm">
            <button class="find_player" type="button" id="find_player" onclick="displayPlayerInfo()">Search player</button>
            <input class="input_player_id" type="text" id="playerId" name="playerId">
            <div id="toggles">
                <button id="toggleID" type="button" class="toggle-btn active">ID</button>
                <button id="toggleName" type="button" class="toggle-btn">Name</button>
            </div>
        </form>
        <div id="playerInfoContainer"></div>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}">
<script src="{{ url_for('static', filename='js/display/scoreboard-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/scoreboard-api.js') }}"></script>

{% endblock %}
